In [170]:
import pandas as pd
import numpy as np

In [171]:
# Any results you write to the current directory are saved as output.
import itertools

# %matplotlib inline
# import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.preprocessing import LabelBinarizer, LabelEncoder
# from sklearn.metrics import confusion_matrix

from tensorflow import keras
layers = keras.layers
models = keras.models

In [172]:
data = pd.read_csv("bbc-text.csv")

In [173]:
data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
5          politics  howard hits back at mongrel jibe michael howar...
6          politics  blair prepares to name poll date tony blair is...
7             sport  henman hopes ended in dubai third seed tim hen...
8             sport  wilkinson fit to face edinburgh england captai...
9     entertainment  last star wars  not for children  the sixth an...
10    entertainment  berlin cheers for anti-nazi film a german movi...
11         business  virgin blue shares plummet 20% shares in austr...
12         business  crude oil prices back above $50 cold weather a...
13         politics  hague  given up  his pm ambition former conser...
14            sport  moya emotional after davis cup win carlos moya...
15         business  s korean credit card firm rescued south korea ...
16         politics  howard backs stem cell research michael howard...
17            sport  connors boost for british tennis former world ...
18         business  japanese banking battle at an end japan s sumi...
19             tech  games maker fights for survival one of britain...
20             tech  security warning over  fbi virus  the us feder...
21             tech  halo 2 heralds traffic explosion the growing p...
22            sport  bates seals takeover ken bates has completed h...
23            sport  cole faces lengthy injury lay-off aston villa ...
24             tech  mobile audio enters new dimension as mobile ph...
25            sport  moya fights back for indian title carlos moya ...
26    entertainment  career honour for actor dicaprio actor leonard...
27             tech  mobile gig aims to rock 3g forget about going ...
28         politics  terror suspects face house arrest uk citizens ...
29    entertainment  halloween writer debra hill dies screenwriter ...
...             ...                                                ...
2195          sport  owen delighted with real display michael owen ...
2196       business  gm issues 2005 profits warning general motors ...
2197       politics  campbell returns to election team ex-downing s...
2198       business  asian banks halt dollar s slide the dollar reg...
2199       business  wall street cool to ebay s profit shares in on...
2200           tech  uk pioneers digital film network the world s f...
2201       business  ban on forced retirement under 65 employers wi...
2202           tech  local net tv takes off in austria an austrian ...
2203       politics  profile: david miliband david miliband s rapid...
2204           tech  argonaut founder rebuilds empire jez san  the ...
2205  entertainment  dance music not dead says fatboy dj norman coo...
2206       politics  kennedy questions trust of blair lib dem leade...
2207           tech  california sets fines for spyware the makers o...
2208  entertainment  snicket tops us box office chart the film adap...
2209          sport  time to get tough on friendlies  for an intern...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...
2215           tech  junk e-mails on relentless rise spam traffic i...
2216  entertainment  top stars join us tsunami tv show brad pitt  r...
2217           tech  rings of steel combat net attacks gambling is ...
2218          sport  davies favours gloucester future wales hooker ...
2219       business  beijingers fume over parking fees choking traf...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [174]:
data.shape

(2225, 2)

In [175]:
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [176]:
data['category'].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [177]:
train_size = int(len(data) * .8)
print ("Train size: %d" % train_size)
print ("Test size: %d" % (len(data) - train_size))

Train size: 1780
Test size: 445

In [178]:
def train_test_split(data, train_size):
    train = data[:train_size]
    test = data[train_size:]
    return train, test

In [179]:
train_cat, test_cat = train_test_split(data['category'], train_size)
train_text, test_text = train_test_split(data['text'], train_size)

In [180]:
train_cat

0                tech
1            business
2               sport
3               sport
4       entertainment
5            politics
6            politics
7               sport
8               sport
9       entertainment
10      entertainment
11           business
12           business
13           politics
14              sport
15           business
16           politics
17              sport
18           business
19               tech
20               tech
21               tech
22              sport
23              sport
24               tech
25              sport
26      entertainment
27               tech
28           politics
29      entertainment
            ...
1750            sport
1751    entertainment
1752    entertainment
1753         business
1754             tech
1755             tech
1756         business
1757             tech
1758         business
1759         business
1760            sport
1761            sport
1762         politics
1763            sport
1764             tech
1765            sport
1766             tech
1767            sport
1768            sport
1769         business
1770         business
1771             tech
1772            sport
1773         business
1774             tech
1775             tech
1776         politics
1777            sport
1778         business
1779    entertainment
Name: category, Length: 1780, dtype: object

In [181]:
test_cat

1780    entertainment
1781             tech
1782         politics
1783            sport
1784            sport
1785             tech
1786         business
1787             tech
1788    entertainment
1789    entertainment
1790         politics
1791         politics
1792         business
1793    entertainment
1794            sport
1795    entertainment
1796    entertainment
1797         business
1798            sport
1799         politics
1800             tech
1801         business
1802            sport
1803    entertainment
1804             tech
1805         politics
1806         politics
1807            sport
1808            sport
1809         business
            ...
2195            sport
2196         business
2197         politics
2198         business
2199         business
2200             tech
2201         business
2202             tech
2203         politics
2204             tech
2205    entertainment
2206         politics
2207             tech
2208    entertainment
2209            sport
2210         politics
2211    entertainment
2212         business
2213             tech
2214         business
2215             tech
2216    entertainment
2217             tech
2218            sport
2219         business
2220         business
2221         politics
2222    entertainment
2223         politics
2224            sport
Name: category, Length: 445, dtype: object

In [182]:
train_text

0       tv future in the hands of viewers with home th...
1       worldcom boss  left books alone  former worldc...
2       tigers wary of farrell  gamble  leicester say ...
3       yeading face newcastle in fa cup premiership s...
4       ocean s twelve raids box office ocean s twelve...
5       howard hits back at mongrel jibe michael howar...
6       blair prepares to name poll date tony blair is...
7       henman hopes ended in dubai third seed tim hen...
8       wilkinson fit to face edinburgh england captai...
9       last star wars  not for children  the sixth an...
10      berlin cheers for anti-nazi film a german movi...
11      virgin blue shares plummet 20% shares in austr...
12      crude oil prices back above $50 cold weather a...
13      hague  given up  his pm ambition former conser...
14      moya emotional after davis cup win carlos moya...
15      s korean credit card firm rescued south korea ...
16      howard backs stem cell research michael howard...
17      connors boost for british tennis former world ...
18      japanese banking battle at an end japan s sumi...
19      games maker fights for survival one of britain...
20      security warning over  fbi virus  the us feder...
21      halo 2 heralds traffic explosion the growing p...
22      bates seals takeover ken bates has completed h...
23      cole faces lengthy injury lay-off aston villa ...
24      mobile audio enters new dimension as mobile ph...
25      moya fights back for indian title carlos moya ...
26      career honour for actor dicaprio actor leonard...
27      mobile gig aims to rock 3g forget about going ...
28      terror suspects face house arrest uk citizens ...
29      halloween writer debra hill dies screenwriter ...
                              ...
1750    connors  rallying cry for british tennis  do y...
1751    foxx and swank win us awards jamie foxx and hi...
1752    abba reunite for musical premiere the original...
1753    wembley firm won t make a profit shares in mul...
1754    home phones face unclear future the fixed line...
1755    2d metal slug offers retro fun like some drill...
1756    laura ashley chief stepping down laura ashley ...
1757    nuclear body seeks new tech the computer syste...
1758    india s deccan seals $1.8bn deal air deccan ha...
1759    jarvis sells tube stake to spain shares in eng...
1760    mcclaren hails boro s uefa spirit middlesbroug...
1761    campese berates whingeing england former austr...
1762    mps quiz aides over royal income senior offici...
1763    mourinho to escape fa charge chelsea boss jose...
1764    nintendo ds aims to touch gamers the mobile ga...
1765    vickery upbeat about arm injury england prop p...
1766    china  to overtake us net use  the chinese net...
1767    downing injury mars uefa victory middlesbrough...
1768    curbishley delight for johansson charlton mana...
1769    eu ministers to mull jet fuel tax european uni...
1770    astrazeneca hit by drug failure shares in angl...
1771    apple laptop is  greatest gadget  the apple po...
1772    athens memories soar above lows well  it s goo...
1773    hyundai to build new india plant south korea s...
1774    warning over tsunami aid website net users are...
1775    china  blocks google news site  china has been...
1776    labour accused of  eu propaganda  a  taxpayer ...
1777    tevez - an argentine in brazil some 65 years a...
1778    water firm suez in argentina row a conflict be...
1779    tv presenter deeley drops cd:uk cat deeley has...
Name: text, Length: 1780, dtype: object

In [183]:
test_text

1780    hobbit picture  four years away  lord of the r...
1781    game firm holds  cast  auditions video game fi...
1782    clarke plans migrant point scheme anyone plann...
1783    radcliffe will compete in london paula radclif...
1784    serena becomes world number two serena william...
1785    ultimate game  award for doom 3 sci-fi shooter...
1786    algeria hit by further gas riots algeria suffe...
1787    fast lifts rise into record books two high-spe...
1788    muslim group attacks tv drama 24 a british mus...
1789    us tv special for tsunami relief a us televisi...
1790    brown names 16 march for budget chancellor gor...
1791    choose hope over fear - kennedy voters will ha...
1792    worldcom bosses  $54m payout ten former direct...
1793    de niro film leads us box office film star rob...
1794    robinson ready for difficult task england coac...
1795    us tv cuts nudity from bbc film a us tv networ...
1796    french honour for director parker british film...
1797    standoff  on deutsche s lse bid deutsche boers...
1798    chepkemei hit by big ban kenya s athletics bod...
1799    peace demo appeal rejected peace protestors ha...
1800    microsoft makes anti-piracy move microsoft say...
1801    continental  may run out of cash  shares in co...
1802    souness eyes summer move for owen newcastle bo...
1803    super size me wins writers  award super size m...
1804    dublin hi-tech labs to shut down dublin s hi-t...
1805    kelly trails new discipline power teachers cou...
1806    clarke to unveil immigration plan new controls...
1807    english clubs make euro history all four of en...
1808    dal maso in to replace bergamasco david dal ma...
1809    golden rule  intact  says ex-aide chancellor g...
                              ...
2195    owen delighted with real display michael owen ...
2196    gm issues 2005 profits warning general motors ...
2197    campbell returns to election team ex-downing s...
2198    asian banks halt dollar s slide the dollar reg...
2199    wall street cool to ebay s profit shares in on...
2200    uk pioneers digital film network the world s f...
2201    ban on forced retirement under 65 employers wi...
2202    local net tv takes off in austria an austrian ...
2203    profile: david miliband david miliband s rapid...
2204    argonaut founder rebuilds empire jez san  the ...
2205    dance music not dead says fatboy dj norman coo...
2206    kennedy questions trust of blair lib dem leade...
2207    california sets fines for spyware the makers o...
2208    snicket tops us box office chart the film adap...
2209    time to get tough on friendlies  for an intern...
2210    teens  know little  of politics teenagers ques...
2211    lopez misses uk charity premiere jennifer lope...
2212    christmas shoppers flock to tills shops all ov...
2213    progress on new internet domains by early 2005...
2214    bush budget seeks deep cutbacks president bush...
2215    junk e-mails on relentless rise spam traffic i...
2216    top stars join us tsunami tv show brad pitt  r...
2217    rings of steel combat net attacks gambling is ...
2218    davies favours gloucester future wales hooker ...
2219    beijingers fume over parking fees choking traf...
2220    cars pull down us retail figures us retail sal...
2221    kilroy unveils immigration policy ex-chatshow ...
2222    rem announce new glasgow concert us band rem h...
2223    how political squabbles snowball it s become c...
2224    souness delight at euro progress boss graeme s...
Name: text, Length: 445, dtype: object

## Tokenizer

Class for vectorizing texts, or/and turning texts into sequences (=list of word indexes, where the word of rank i in the dataset (starting at 1) has index i).

In [184]:
#example for tokenizer
#zero index is reserved for padding
#Tokenize meaning : break (text) into individual linguistic units.
#zero in matrix is reserved for Embedding Layer

from keras.preprocessing.text import Tokenizer
tok = Tokenizer()
#tok = Tokenizer(num_words=10, char_level=False)
tok.fit_on_texts(["this comment is not toxic"]) 
print(tok.texts_to_sequences(["this comment is not toxic"])) 
print(tok.texts_to_sequences(["this very long comment is  toxic"]))
print(tok.texts_to_matrix(["this comment is not toxic"]))

[[1, 2, 3, 4, 5]]
[[1, 2, 3, 5]]
[[0. 1. 1. 1. 1. 1.]]

In [185]:
max_words = 1000
tokenize = keras.preprocessing.text.Tokenizer(num_words=max_words, char_level=False)
#tokenize = keras.preprocessing.text.Tokenizer()

In [186]:
# tokenize

In [187]:
tokenize.fit_on_texts(train_text)

In [188]:
x_train = tokenize.texts_to_matrix(train_text)
x_test = tokenize.texts_to_matrix(test_text)

In [189]:
x_train

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [190]:
x_train[0]

array([0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1., 1.,
       0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1.,
       0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1.,
       1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [191]:
print(len(x_train[0]))
print(len(x_train[0]))

1000
1000

In [192]:
x_train.shape

(1780, 1000)

In [193]:
x_test.shape

(445, 1000)

In [194]:
train_cat

0                tech
1            business
2               sport
3               sport
4       entertainment
5            politics
6            politics
7               sport
8               sport
9       entertainment
10      entertainment
11           business
12           business
13           politics
14              sport
15           business
16           politics
17              sport
18           business
19               tech
20               tech
21               tech
22              sport
23              sport
24               tech
25              sport
26      entertainment
27               tech
28           politics
29      entertainment
            ...
1750            sport
1751    entertainment
1752    entertainment
1753         business
1754             tech
1755             tech
1756         business
1757             tech
1758         business
1759         business
1760            sport
1761            sport
1762         politics
1763            sport
1764             tech
1765            sport
1766             tech
1767            sport
1768            sport
1769         business
1770         business
1771             tech
1772            sport
1773         business
1774             tech
1775             tech
1776         politics
1777            sport
1778         business
1779    entertainment
Name: category, Length: 1780, dtype: object

In [195]:
test_cat

1780    entertainment
1781             tech
1782         politics
1783            sport
1784            sport
1785             tech
1786         business
1787             tech
1788    entertainment
1789    entertainment
1790         politics
1791         politics
1792         business
1793    entertainment
1794            sport
1795    entertainment
1796    entertainment
1797         business
1798            sport
1799         politics
1800             tech
1801         business
1802            sport
1803    entertainment
1804             tech
1805         politics
1806         politics
1807            sport
1808            sport
1809         business
            ...
2195            sport
2196         business
2197         politics
2198         business
2199         business
2200             tech
2201         business
2202             tech
2203         politics
2204             tech
2205    entertainment
2206         politics
2207             tech
2208    entertainment
2209            sport
2210         politics
2211    entertainment
2212         business
2213             tech
2214         business
2215             tech
2216    entertainment
2217             tech
2218            sport
2219         business
2220         business
2221         politics
2222    entertainment
2223         politics
2224            sport
Name: category, Length: 445, dtype: object

In [196]:
#Understanding encoder

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [197]:
le.fit(["paris", "paris", "tokyo", "amsterdam"])
list(le.classes_)

['amsterdam', 'paris', 'tokyo']

In [198]:
print(le.transform(["amsterdam", "tokyo", "paris"]))
list(le.inverse_transform([2, 2, 1]))

[0 2 1]

['tokyo', 'tokyo', 'paris']

In [199]:
encoder = LabelEncoder()
encoder.fit(train_cat)
y_train = encoder.transform(train_cat)
y_test = encoder.transform(test_cat)

In [200]:
y_train

array([4, 0, 3, ..., 3, 0, 1])

In [201]:
len(y_train)

1780

In [202]:
y_test

array([1, 4, 2, 3, 3, 4, 0, 4, 1, 1, 2, 2, 0, 1, 3, 1, 1, 0, 3, 2, 4, 0,
       3, 1, 4, 2, 2, 3, 3, 0, 0, 0, 0, 0, 1, 0, 2, 2, 4, 4, 1, 2, 1, 0,
       2, 3, 3, 0, 4, 0, 4, 3, 0, 0, 2, 3, 3, 2, 2, 1, 1, 2, 0, 2, 2, 0,
       4, 2, 2, 2, 2, 2, 1, 1, 4, 2, 3, 2, 3, 4, 3, 3, 3, 1, 4, 1, 4, 3,
       4, 3, 3, 1, 1, 0, 1, 1, 2, 0, 3, 4, 4, 2, 0, 3, 0, 1, 3, 2, 1, 3,
       3, 0, 2, 4, 4, 0, 0, 3, 2, 1, 3, 3, 2, 1, 4, 3, 1, 0, 2, 3, 2, 4,
       1, 3, 2, 0, 1, 2, 1, 2, 3, 2, 0, 0, 2, 0, 4, 3, 0, 1, 0, 3, 3, 1,
       4, 2, 4, 2, 2, 3, 3, 3, 0, 4, 1, 0, 3, 0, 3, 0, 4, 0, 0, 0, 0, 3,
       3, 3, 0, 0, 1, 0, 0, 0, 3, 3, 3, 4, 0, 3, 3, 3, 0, 1, 4, 4, 4, 2,
       0, 0, 4, 0, 4, 3, 3, 2, 2, 2, 3, 3, 2, 2, 4, 0, 3, 3, 3, 3, 0, 3,
       0, 0, 0, 0, 3, 2, 3, 4, 4, 3, 4, 0, 1, 0, 3, 0, 4, 4, 2, 1, 0, 1,
       0, 4, 2, 1, 2, 1, 1, 4, 0, 4, 4, 0, 2, 3, 1, 0, 2, 1, 0, 4, 3, 4,
       2, 3, 2, 0, 2, 2, 0, 0, 0, 4, 2, 0, 2, 0, 1, 2, 3, 2, 2, 3, 1, 4,
       4, 0, 4, 3, 0, 0, 2, 3, 4, 4, 4, 3, 1, 3, 2, 0, 2, 2, 1, 4, 0, 4,
       3, 1, 1, 3, 0, 1, 4, 4, 3, 1, 0, 2, 2, 2, 4, 4, 0, 2, 0, 2, 2, 1,
       3, 4, 0, 4, 1, 4, 4, 3, 2, 3, 3, 2, 1, 1, 0, 2, 2, 3, 0, 0, 4, 0,
       4, 4, 3, 0, 2, 3, 0, 0, 3, 4, 3, 4, 1, 3, 3, 1, 0, 4, 3, 3, 2, 4,
       0, 2, 3, 3, 2, 1, 4, 4, 4, 0, 3, 1, 1, 4, 0, 2, 4, 3, 3, 4, 4, 2,
       0, 3, 1, 1, 3, 1, 4, 4, 0, 0, 0, 3, 3, 4, 3, 0, 4, 0, 0, 3, 0, 2,
       0, 0, 4, 0, 4, 2, 4, 1, 2, 4, 1, 3, 2, 1, 0, 4, 0, 4, 1, 4, 3, 0,
       0, 2, 1, 2, 3])

In [203]:
len(y_train)

1780

In [204]:
num_classes = np.max(y_train) + 1

In [205]:
num_classes

5

In [206]:
# Consider an array of 5 labels out of a set of 3 classes {0, 1, 2}:
labels = np.array([0, 2, 1, 2, 0])
# `to_categorical` converts this into a matrix with as many
# columns as there are classes. The number of rows
# stays the same.
keras.utils.to_categorical(labels)

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]], dtype=float32)

In [207]:
# Converts the labels to a one-hot representation
num_classes = np.max(y_train) + 1
y_train = keras.utils.to_categorical(y_train, num_classes)
y_test = keras.utils.to_categorical(y_test, num_classes)

In [208]:
batch_size = 32
epochs = 4
drop_ratio = 0.5

In [209]:
model = models.Sequential()
model.add(layers.Dense(512, input_shape=(max_words,)))
model.add(layers.Dense(212 , activation = 'relu'))
model.add(layers.Activation('relu'))
model.add(layers.Dense(num_classes))
model.add(layers.Activation('softmax'))

model.compile(loss='categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [213]:
x_train

array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])

In [214]:
y_train

array([[0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.]], dtype=float32)

In [210]:
history = model.fit(x_train, y_train,batch_size=batch_size,epochs=epochs,verbose=1,validation_split=0.1)

Train on 1602 samples, validate on 178 samples
Epoch 1/4
1602/1602 [==============================] - 0s 258us/sample - loss: 0.3461 - acc: 0.8989 - val_loss: 0.1799 - val_acc: 0.9326
Epoch 2/4
1602/1602 [==============================] - 0s 175us/sample - loss: 0.0281 - acc: 0.9944 - val_loss: 0.1255 - val_acc: 0.9438
Epoch 3/4
1602/1602 [==============================] - 0s 174us/sample - loss: 0.0034 - acc: 1.0000 - val_loss: 0.1261 - val_acc: 0.9494
Epoch 4/4
1602/1602 [==============================] - 0s 176us/sample - loss: 0.0014 - acc: 1.0000 - val_loss: 0.1245 - val_acc: 0.9551

In [211]:
score = model.evaluate(x_test, y_test,batch_size=batch_size, verbose=1)

445/445 [==============================] - 0s 76us/sample - loss: 0.1587 - acc: 0.9573

In [212]:
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: 0.15873410139191016
Test accuracy: 0.95730335

In [ ]:
#model.predict(x_train[0])
#x_train[0].shape

# Hyperparameter tunning

This is a good time to go back and tweak some parameters such as epoch, batch size, dropout ratio, network structure, activation function, and others, to see if you can improve the accuracy.

In this particular case, to make it more challenging, I recommend reducing the max words of the call to keras.preprocessing.text.Tokenizer. This will reduce the number of words for each input sample, thus making it more challenging to accurately predict the category. (Notice that not all hyperparameters are necessarily inside the model. This is one such example.)

The default was up to 1000 words per article. See what happens when you reduce that number to 200 words, or 50 words, or even fewer. As the evaluation accuracy drops, the effects of your hyperparameter tuning will be more pronounced, with successful adjustments making meaningful improvements to the model performance.

To make this process easier to manage, I've encapulated the model definition and training and evaluation calls into one function call. You can add additional parameters as needed.

In [ ]:
#by using hyperprameter tunning

def run_experiment(batch_size, epochs, drop_ratio):
    print('batch size: {}, epochs: {}, drop_ratio: {}'.format(batch_size, epochs, drop_ratio))
    model = models.Sequential()
    model.add(layers.Dense(512, input_shape=(max_words,)))
    model.add(layers.Activation('relu'))
    model.add(layers.Dropout(drop_ratio))
    model.add(layers.Dense(num_classes))
    model.add(layers.Activation('softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    history = model.fit(x_train, y_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=0,
                    validation_split=0.1)
    score = model.evaluate(x_test, y_test,
                       batch_size=batch_size, verbose=0)
    print('\tTest loss:', score[0])
    print('\tTest accuracy:', score[1])

In [ ]:
batch_size = 16
epochs = 4
drop_ratio = 0.4
run_experiment(batch_size, epochs, drop_ratio)

In [ ]:
text_labels = encoder.classes_
text_labels

In [ ]:
#model.predict?
#It predicts the probablity according to classes i.e business, entertainment etc ...
prediction = model.predict(np.array([x_test[0]]))
prediction

In [ ]:
predicted_label = text_labels[np.argmax(prediction)]
predicted_label

In [ ]:
text_labels = encoder.classes_

for i in range(10):
    prediction = model.predict(np.array([x_test[i]]))
    predicted_label = text_labels[np.argmax(prediction)]
    print(test_text.iloc[i][:50], "...")
    print('Actual label:' + test_cat.iloc[i])
    print("Predicted label: " + predicted_label + "\n")

In [ ]:
test_text.iloc[3]

In [ ]:
prediction = model.predict(np.array([x_test[3]]))

In [ ]:
prediction

In [ ]:
predicted_label = text_labels[np.argmax(prediction)]
predicted_label

In [ ]:
#print(test_text.iloc[:50], "...")
print('Actual label:' + test_cat.iloc[3])
print("Predicted label: " + predicted_label + "\n")